%WinLine {
	position: absolute;
	opacity: 0;
	animation: dashed-line 1s steps(10) 500ms forwards;
	background: linear-gradient(
		0deg,
		rgb(239 68 68),
		rgb(239 68 68) 70%,
		transparent 70%,
		transparent 100%
	);
	background-size: 100% 10%;
	width: 0.5rem;
	height: 100%;
}

%WinLineVertical {
	@extend %WinLine;

	margin-top: calc((-10% * 0.3)); // centers dashes in container
}

%WinLineHorizontal {
	@extend %WinLine;

	transform: rotate(-90deg);
	margin-left: calc((-10% * 0.3)); // centers dashes in container
}

%WinLineDiagonal {
	@extend %WinLine;

	height: calc(100% * sqrt(2));
}

@media (prefers-reduced-motion) {
	.WinLine {
		animation: fade-in 0.5s cubic-bezier(0.4, 0, 0.6, 1) forwards;
	}
}

@keyframes dashed-line {
	0% {
		opacity: 1;
		clip-path: inset(0 0 100% 0);
	}

	100% {
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

.WinLineCenterVertical {
	@extend %WinLineVertical;
}

.WinLineLeft {
	@extend %WinLineVertical;

	left: calc(16.67% + 1rem);
}

.WinLineRight {
	@extend %WinLineVertical;

	right: calc(16.67% + 1rem);
}

.WinLineCenterHorizontal {
	@extend %WinLineHorizontal;
}

.WinLineTop {
	@extend %WinLineHorizontal;

	top: calc(-33.33% + 1.25rem);
}

.WinLineBottom {
	@extend %WinLineHorizontal;

	bottom: calc(-33.33% + 1.25rem);
}

.WinLineTopLeftBottomRight {
	margin-top: calc((-10% * 0.3)); // centers dashes in container
	margin-left: calc((-10% * 0.3)); // centers dashes in container

	@extend %WinLineDiagonal;

	transform: rotate(-45deg);
}

.WinLineTopRightBottomLeft {
	margin-top: calc((-10% * 0.3)); // centers dashes in container
	margin-right: calc((-10% * 0.3)); // centers dashes in container

	@extend %WinLineDiagonal;

	transform: rotate(45deg);
}
