/* Taking into consideration margin around grid (2rem) and borders between cells (0.25rem each) */
%WinLineVertical {
	display: flex;
	position: absolute;
	justify-content: center;
}

%WinLineDiagonal {
	@extend %WinLineVertical;

	top: calc(50% * (1 - sqrt(2)));
	left: calc(50% * (1 - sqrt(2)));
	width: calc(100% * sqrt(2));
	height: calc(100% * sqrt(2));
}

%WinLineHorizontal {
	@extend %WinLineVertical;

	transform: rotate(-90deg);
	width: 100%;
	height: 100%;
}

.WinLineCenterVertical {
	@extend %WinLineVertical;

	width: 100%;
}

.WinLineLeft {
	@extend %WinLineVertical;

	left: 2rem;
	width: calc(33.33% - 1.5rem + 3px);
}

.WinLineRight {
	@extend %WinLineVertical;

	right: 2rem;
	width: calc(33% - 1.5rem + 3px);
}

.WinLineCenterHorizontal {
	@extend %WinLineHorizontal;
}

.WinLineTop {
	@extend %WinLineHorizontal;

	top: calc(-33.33% + 1.5rem - 3px);
}

.WinLineBottom {
	@extend %WinLineHorizontal;

	bottom: calc(-33.33% + 1.5rem - 3px);
}

.WinLineTopLeftBottomRight {
	@extend %WinLineDiagonal;

	transform: rotate(-45deg);
}

.WinLineTopRightBottomLeft {
	@extend %WinLineDiagonal;

	transform: rotate(45deg);
}
