@tailwind components;

.o--animated {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
	animation: o 0.25s linear forwards;
}

.x--animated {
	#x1 {
		stroke-dasharray: 430;
		stroke-dashoffset: 800;
		animation: x 0.25s linear;
		animation-delay: 0.25s;
		animation-fill-mode: forwards;
	}

	#x2 {
		stroke-dasharray: 430;
		stroke-dashoffset: 800;
		animation: x 0.25s linear;
		animation-fill-mode: forwards;
	}
}

@keyframes x {
	from {
		stroke-dasharray: 430;
	}

	to {
		stroke-dasharray: 400;
	}
}

@keyframes o {
	to {
		stroke-dashoffset: 0;
	}
}

@layer components {
	.hover-shape {
		@apply opacity-0 transition-opacity group-hover:visible group-hover:opacity-10 dark:group-hover:opacity-20;
	}
}
