@tailwind components;

@layer components {
	.xo--hover {
		@apply opacity-0 transition-opacity group-hover:visible group-hover:opacity-10 dark:group-hover:opacity-20;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.o--animated {
		stroke-dasharray: 300;
		stroke-dashoffset: 300;
		animation: draw-o 0.3s linear forwards;
	}

	.x--animated line {
		stroke-dasharray: 430;
		stroke-dashoffset: 800;

		animation: draw-x 0.2s linear forwards;
	}

	.x--animated #x-line-2 {
		animation-delay: 0.2s;
	}
}

@keyframes draw-o {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes draw-x {
	from {
		stroke-dasharray: 430;
	}
	to {
		stroke-dasharray: 400;
	}
}
